body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c86;
  color:#fff;
}
h1{
  font-family: 'Montserrat-Black',sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;

}
h2{
  font-family: 'Montserrat-Black',sans-serif;
  font-size: 2.8rem;
  line-height: 1;
  font-weight: bold;
}

h3{
  font-family: "Montserrat-Black";
  font-weight: bold;
}
p{
  color: #8f8f8f;
}
.container-fluid{
  padding: 3% 15%;
}
/* Navigation bar */
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "Sacramento";
  font-size: 4rem;
  line-height: 1.2;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}
/* Download Button */
.download-button{
  margin: 5% 3% 5% 3%;
}
.tilte-image{
  width:23%;

  transform: rotate(25deg);
 position: absolute;  /* to work zindex position not be static */
 z-index:0;
 left: 60%;

}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position:relative;


}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color:#ef8172;
  margin-bottom: 1.5rem;

}
.icon:hover{
  background-color:#ff4c86;
}
/* Testimonial section */
#testimonials{

  text-align: center;
  background-color:#ef8172;
  color:#fff;
}
.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin:25px;
}
.carousel-item{
    padding:  7% 15%;
}
#press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-image{
  width:15%;
  margin:20px 20px 50px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
/* Cta section */
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 4% 15%;
  text-align: center;

}
.cta-heading{
  font-family: "Sacramento";
  font-size: 4rem;

}
#footer{
  text-align: center;
  margin: 7% 15%;
}

@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-images{
    position: static;
    transform: rotate(0);
  }

}
